﻿@using Sitecore.Mvc.Analytics.Extensions

<!DOCTYPE html>
<html class="no-js">
<head>
    @Html.Sitecore().Placeholder("head")

    @Html.Sitecore().VisitorIdentification()

</head>
<body ontouchstart="">

    @RenderBody()

</body>
</html>